{% extends "base/index.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            {% bootstrap_form_errors form %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <h2 class="cabecera_ul">Datos de contacto</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Nombre:</strong> {{peticion.nombre}}</li>
                <li class="list-group-item"><strong>Mensaje:</strong> {{peticion.mensaje}}</li>
                <li class="list-group-item"><strong>Ubicación:</strong> <div id="mapa_auxiliar"></div></li>
            </ul>
            <script>
                var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
                var osmAttrib='&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
                var osm = new L.TileLayer(osmUrl, {minZoom: 5, maxZoom: 18, attribution: osmAttrib});
                var map = new L.Map('mapa_auxiliar');
                map.addLayer(osm);
                var rawLat = "{{peticion.geom.y}}";
                var rawLon = "{{peticion.geom.x}}";
                var lat = parseFloat(rawLat.replace(',', '.'));
                var lon = parseFloat(rawLon.replace(',', '.'));
                L.marker([lat, lon], {icon: redIcon}).addTo(map);
                map.setView(new L.LatLng(lat,lon),14);
                resize();
            </script>
        </div>
        <div class="col-12 col-lg-6">
            <h2>Tus datos</h2>
            <p>Indícanos tus datos y avisaremos a {{peticion.nombre}} para que nos autorice a compartir los suyos</p>
            <form method="post" class="form">
                {% csrf_token %}
                <input type="hidden" name="id_peticion" id="id_peticion" value="{{peticion.id}}" novalidate>
                {% bootstrap_field form.nombre show_label=False %}
                {% bootstrap_field form.email show_label=False %}
                {% bootstrap_field form.telefono show_label=False %}
                {% bootstrap_field form.mensaje %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">Solicitar acceso</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>

{% endblock content %}
