<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>Hola {{colaborador}},</p>
        <p>Nos ponemos en contacto contigo porque alguien ha solicitado tu ayuda. Los datos de la petición son los siguientes:</p>
        <ul>
            <li>Nombre: {{nombre}}</li>
            <li>Mensaje: {{mensaje}}</li>
        </ul>
        <p>Si quieres atender a esta petición y proporcionarle tus datos de contacto (también te proporcionaremos los datos de la persona solicitante) entra en el siguiente enlace.</p>
        <p>(si no funciona, copia y pega en tu navegador)</p>
        <p><a href="{{enlace}}">{{enlace}}</a></p>
        <p>Si no quieres atenderla ignora este mensaje</p>
        <p>Un saludo y que tengas un buen día.</p>
        <p><b>#QUEDATEENCASA</b></p>
    </body>
</html>