html, body {
   height: 100%;
   width: 100%;
}

.contenedor-mapa {
    padding: 0;
}
#mapa{
    height: 800px;
}

#mapa_colaborador, #mapa_peticion{
    height: 400px;
    margin-bottom: 1em;
}

.accion{
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.cabecera_ul{
    padding-left: 20px;
 }