html, body {
   height: 100%;
   width: 100%;
}

#mapa{
    height: 800px;
}

#mapa_colaborador, #mapa_peticion{
    height: 400px;
    margin-bottom: 1em;
}

.accion{
    margin-left: 1em;
    margin-right: 1em;
}

