{% extends "base/index.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Datos recibidos</h2>
            <p>Acabamos de recibir tus datos y ya están visibles en el mapa principal.</p> 
            <p>Esperamos que pronto puedas ayudar a alguien o recibir la ayuda que solicitas.</p>
            <p>Un saludo y que tengas un buen día.</p>
            <h2>#QUEDATEENCASA</h2>
            <p><a href="{% url 'index' %}">Volver a la página principal</a></p>
        </div>
    </div>
</div>
<script >resize();</script>
{% endblock content %}
