{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Ayuda durante COVID-19</title>
    <meta name="author" content="pabloFM">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'assets/bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'assets/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" >
    <link rel="stylesheet" href="{% static 'assets/leaflet/leaflet.css' %}" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="{% static 'assets/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'js/leaflet-color-markers.js' %}"></script>
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://ayudacovid19.matomo.cloud/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src='//cdn.matomo.cloud/ayudacovid19.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
    <script src="https://kit.fontawesome.com/20930eb496.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item accion"><a class="nav-link btn btn-success" href="{% url 'colabora' %}">Colabora</a></li>
                    <li class="nav-item accion"><a class="nav-link btn btn-danger" href="{% url 'pide' %}">Pide</a></li>
                    <li class="nav-item accion"><a class="nav-link" href="https://github.com/pablofm/ayudacovid19"><i class="fab fa-github"></i> Colabora en Github</a></li>
                </ul>
            </div>
            <div class="mx-auto order-0">
                <a class="navbar-brand" href="{% url 'index' %}">Ayuda durante COVID-19</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#"> En total hay: </a></li>
                    <li class="nav-item"><a class="nav-link" href="#"> {{colaboradores}} colaboradores</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"> {{peticiones}} peticiones de ayuda</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main">
        <div class="container-fluid">
            {% block content %}
            <div class="row">
                <div class="col-12">
                    
                    <!-- Modal -->
                    <div class="modal fade" id="intro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">¡Hola!</h5>
                                </div>
                                <div class="modal-body">
                                    <p>Si quieres ofrecerte para poder ayudar a alguien en dificultades para minimizar las salidas no dudes en añadirte como colaborador.</p>
                                    <p>Esta web estará viva mietras dure esta crisis.</p>
                                    <p>Nota: Se realizan analíticas con matomo para ver si este proyecto se usa</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $('#intro').modal('show');
                    </script>
                    <div id="mapa"></div>
                    <script type="text/javascript">
                        function resize(){
                            $("body").css("padding-top", $("nav").height()*1.5);
                            $('#mapa').css("height", ($(window).height() - $("nav").height()*2));    
                        }
                        $(window).on("resize", resize);
                        resize();
                        function get_ubicacion(ubicacion){
                            return [ubicacion.coordinates[1],ubicacion.coordinates[0]];
                        }
                        var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
                        var osmAttrib='Map data &copy; OpenStreetMap contributors';
                        var osm = new L.TileLayer(osmUrl, {minZoom: 5, maxZoom: 18, attribution: osmAttrib});
                        var map = new L.Map('mapa', { zoomControl: false });
                        map.addLayer(osm);
                        map.setView(new L.LatLng(40.40, -3.70),6);
                        $.ajax({
                            dataType: 'json',
                            url:'{% url "colaborador-list" %}',
                            success: function(data) {
                                for (index in data.features){
                                    var datos = data.features[index].properties;
                                    var marker = L.marker(get_ubicacion(data.features[index].geometry), { title: datos.nombre, icon: greenIcon }).addTo(map);
                                    marker.bindPopup("<b>"+datos.nombre+"</b></br>Teléfono:"+datos.telefono+"<br/>Email: "+datos.email+"<br/>Horario: "+datos.horario+"<br/>Tipo de ayuda: "+datos.servicios);
                                }
                            },
                            error: function (xhr, status, error) {
                                alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText);
                            }
                        });
                        $.ajax({
                            dataType: 'json',
                            url:'{% url "peticion-list" %}',
                            success: function(data) {
                                for (index in data.features){
                                    var datos = data.features[index].properties;
                                    var marker = L.marker(get_ubicacion(data.features[index].geometry), { title: datos.nombre, icon: redIcon }).addTo(map);
                                    marker.bindPopup("<b>"+datos.nombre+"</b></br>Teléfono:"+datos.telefono+"<br/>Email: "+datos.email+"<br/>Petición: "+datos.peticion);
                                }
                            },
                            error: function (xhr, status, error) {
                                alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText);
                            }
                        });

                    </script>
                </div>
            </div>
            {% endblock content %}
        </div>
    </main>
</body>
</html>