{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Ayuda COVID-19</title>
    <meta name="author" content="pabloFM">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Plataforma para ofrecer ayuda o ser ayudado durante el estado de alarma del COVID19"/>
    <meta property="og:locale" content="es_ES"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Ayuda COVID-19"/>
    <meta property="og:image" content="{% static 'img/logo.png' %}"/>
    <meta property="og:description" content="Plataforma para ofrecer ayuda o ser ayudado durante el estado de alarma del COVID19." />
    <meta property="og:url" content="https://ayudacovid19.com/" />
    <meta property="og:site_name" content="AYUDA COVID-19"/>

    <link rel="stylesheet" href="{% static 'assets/bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'assets/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" >
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="{% static 'assets/leaflet/leaflet.css' %}" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="{% static 'assets/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'js/leaflet-color-markers.js' %}"></script>
    <script src="{% static 'js/aux.js' %}"></script>

    <link rel="stylesheet" href="{% static 'assets/Leaflet.markercluster-1.4.1/MarkerCluster.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/Leaflet.markercluster-1.4.1/MarkerCluster.Default.css' %}" />
    <script src="{% static 'assets/Leaflet.markercluster-1.4.1/leaflet.markercluster.js' %}"></script>
    <script src="{% static 'js/leaflet.markercluster.layersupport.js' %}"></script>

    <!-- Matomo -->
    <script>
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://ayudacovid19.matomo.cloud/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src='//cdn.matomo.cloud/ayudacovid19.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
</head>
<body>
    <header>
        {% include "base/navbar.html" %}
    </header>
    <main>
        {% block content %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 contenedor-mapa">
                    <!-- Modal -->
                    <div class="modal fade" id="intro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">¡Hola!</h5>
                                </div>
                                <div class="modal-body">
                                    <p>Si es la primera vez que entras en esta página te aconsejamos que leas la siguiente <a href="{% url 'informacion_importante' %}">información importante</a></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                    id="welcome-modal-dismiss"
                                    data-dismiss="modal">Ok!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="mapa"></div>
                    <script>
                        $('#intro').modal('show');
                        var map = new L.Map('mapa', {
                            center: [40.40, -3.70],
                            zoom: 5,
                        });
                        var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
                        var osmAttrib = '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>';
                        var osm = new L.TileLayer(osmUrl, {minZoom: 3, maxZoom: 18, attribution: osmAttrib}).addTo(map);

                        var markers = L.markerClusterGroup.layerSupport(null);

                        var colaboradores = get_colaboradores('{% url "colaborador-list" %}', '{% url "acceso-colaborador" 0 %}' );
                        var peticiones = get_peticiones('{% url "peticion-list" %}', '{% url "acceso-peticion" 0 %}');
                        var comercios = get_comercios('{% url "comercio-list" %}')
                        
                        markers.checkIn(colaboradores);
                        markers.checkIn(peticiones);
                        markers.checkIn(comercios)
                        
                        colaboradores.addTo(map);
                        peticiones.addTo(map);
                        comercios.addTo(map);
                        
                        markers.addTo(map);

                        var controles = {
                            "<img height='20' src='{% static 'img/marker-icon-green.png' %}'/> Colaboradores ({{colaboradores}})" : colaboradores,
                            "<img height='20' src='{% static 'img/marker-icon-red.png' %}'/> Peticiones ({{peticiones}})" : peticiones,
                            "<img height='20' src='{% static 'img/marker-icon-blue.png' %}'/> Comercios ({{comercios}})" : comercios
                        };

                        L.control.layers(null, controles, {"collapsed": false}).addTo(map);
                        resize();

                        document.getElementById("welcome-modal-dismiss")
                            .addEventListener('click', () => {
                                map_go_to_current_location(map);
                            });
                    </script>
                </div>
            </div>
        </div>
        {% endblock content %}
    </main>
</body>
</html>