{% extends "base/index.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Acceso concedido</h2>
            <p>Muchas gracias por permitir a {{nombre}} ponerse en contacto contigo y ayudarle en estos momentos tan difíciles</p> 
            <p>Esperamos que pronto se ponga en contacto contigo</p>
            <p>Un saludo y que tengas un buen día.</p>
            <h2>#QUEDATEENCASA</h2>
        </div>
    </div>
</div>
<script >resize();</script>
{% endblock content %}
