<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>Hola {{nombre_para}},</p>
        <p>La persona con la que esperabas contactar ha aceptado que podamos compartir sus datos y os pongáis en contacto. Sus datos son:</p>
        <ul>
            <li>Nombre: {{nombre_contacto}}</li>
            <li>Teléfono: {{telefono_contacto}}</li>
            <li>Email: {{email_contacto}}</li>
            <li>Mensaje: {{mensaje_contacto}}</li>
        </ul>
        <p>Un saludo y que tengas un buen día.</p>
        <p><b>#QUEDATEENCASA</b></p>
    </body>
</html>